<!-- related product -->

<div class="bg-white shadow rounded overflow-hidden group">
  <div class="relative">
    <img [src]="product.imageSrc"
         [alt]="product.name"
         class="w-full h-64 ">
    <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center
                    justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
      <a [routerLink]="['/product',product.id]"
         class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-green-600 transition"
         title="view product">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
        </svg>

      </a>
      <div class='has-tooltip'>
        <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-primary px-2 ml-4 -mt-8'>{{ product.isFavorite ? 'Already Added to Favorites' : 'add to  Favorites' }}</span>
      <a (click)="onFavorite()"
         class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-green-600 transition">
        <svg *ngIf="!product.isFavorite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255,255,255)"><path d="M12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412l7.332 7.332c.17.299.498.492.875.492a.99.99 0 0 0 .792-.409l7.415-7.415c2.354-2.354 2.354-6.049-.002-8.416a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595zm6.791 1.61c1.563 1.571 1.564 4.025.002 5.588L12 18.586l-6.793-6.793c-1.562-1.563-1.561-4.017-.002-5.584.76-.756 1.754-1.172 2.799-1.172s2.035.416 2.789 1.17l.5.5a.999.999 0 0 0 1.414 0l.5-.5c1.512-1.509 4.074-1.505 5.584-.002z"></path></svg>
        <svg *ngIf="product.isFavorite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255,255,255)"><path d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"></path></svg>
      </a>
        </div>
    </div>
  </div>
  <div class="pt-4 pb-3 px-4">
    <a [routerLink]="['/product',product.id]">
      <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">{{product.name}}</h4>
    </a>
    <div class="flex items-baseline mb-1 space-x-2">
      <p class="text-xl text-primary font-semibold">${{product.price}}</p>
      <p class="text-sm text-gray-400 line-through">$55.90{{product.rating}}</p>
    </div>
    <div class='has-tooltip'>
      <span class='tooltip rounded shadow-lg p-1 bg-gray-100 text-primary px-2 ml-4 -mt-8'>{{product.rating}} Stars Rating</span>
      <div class="flex items-center">
      <div class="flex -ml-0.5">
                <svg *ngFor="let in of counter(product.rating)"
          class="w-5 h-5 text-yellow-400"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
        >
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/>
        </svg>

        <svg *ngFor="let in of counter(5-product.rating)"
          class="w-5 h-5 text-gray-200"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
        >
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/>
        </svg>
        </div>
        <div class="text-xs text-gray-500 ml-3">(150)</div>
      </div>

    </div>
  </div>
  <a href="#"
     class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
    View In Comparator</a>
</div>

<!-- ./related product -->
