<div class="flex items-center justify-center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="relative text-gray-600 ">
      <span class="absolute inset-y-0 left-0 flex items-center pl-2">
        <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </button>
      </span>
      <input type="search" name="search" ngModel class="py-2 text-gray-900 text-sm bg-slate-50 rounded-md pl-10 focus:outline-none" placeholder="Search..." autocomplete="off">
    </div>
  </form>
</div>

<div class="flex items-center">
  <app-products-item
    *ngFor="let productEl of products$ | async; let i = index"
    [product]="productEl"
    [index]="i"></app-products-item>
</div>

<!--<div class="pt-2 relative mx-auto text-gray-600">-->
<!--  <form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
<!--    <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"-->
<!--           type="search" name="search"-->
<!--           ngModel placeholder="Search">-->
<!--    <button type="submit" class="relative right-0 top-0 mt-5 mr-4">-->

<!--      <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"-->
<!--           xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"-->
<!--           viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"-->
<!--           width="512px" height="512px">-->
<!--            <path-->
<!--              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>-->
<!--          </svg>-->
<!--    </button>-->
<!--  </form>-->
<!--</div>-->





<!--<div class="max-w-m">-->
<!--  <div class="flex items-center ">-->
<!--    <input-->
<!--      class="mx-4 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"-->
<!--      id="inline-password" type="text" placeholder="id to search">-->
<!--    <button-->
<!--      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="onSearch()">-->
<!--      Search-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<!--<form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">-->
<!--  <div class="max-w-m">-->
<!--    <div class="flex items-center ">-->
<!--      <label class="">Keyword :</label>-->
<!--      <input-->
<!--        class="form-control mx-4 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"-->
<!--        type="text" formControlName="keyword">-->
<!--      <button-->
<!--        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="handleSearchProducts()">-->
<!--        Search-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
<!--<p>{{products | json}}</p>-->
<!--<tr *ngFor="let p of products | async">-->
<!--              <td>{{p.note}}</td>-->
<!--              <td>{{p.name}}</td>-->
<!--              <td>{{p.price}}</td>-->
<!--  <br/>-->

<!--<p>{{productsss.id}}</p>-->
<!--<p>{{productsss.name}}</p>-->
<!--<p>{{productsss.quantity}}</p>-->
<!--<p>{{productsss.price}}</p>-->
<!--<div-->
<!--  *ngFor="let p of productss; let i = index">-->
<!--  <p>{{p.id}}</p>-->
<!--  <p>{{p.name}}</p>-->
<!--  <p>{{p.quantity}}</p>-->
<!--  <p>{{p.price}}</p>-->
<!--</div>-->


<!--<div class="container mt-2">-->
<!--  <ng-container *ngIf="products | async as listCustomers; else failureOrLoading">-->
<!--    <div class="">-->
<!--      <div class="">Customers</div>-->
<!--      <div class="">-->
<!--        <div *ngIf="searchFormGroup">-->
<!--          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">-->
<!--            <div class="">-->
<!--              <label class="">Keyword :</label>-->
<!--              <input type="text" formControlName="keyword" class="form-control">-->
<!--              <button class=" ">-->
<!--                <i class=" "></i>-->
<!--              </button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--        <table class="">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>ID</th><th>Name</th><th>Email</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let p of products | async">-->
<!--            <td>{{p.note}}</td>-->
<!--            <td>{{p.name}}</td>-->
<!--            <td>{{p.price}}</td>-->
<!--            <td>-->
<!--              <button (click)="handleDeleteProduct(p)" class=" ">-->
<!--                <i class=" "></i>-->
<!--              </button>-->
<!--            </td>-->
<!--            <td>-->
<!--              <button (click)="handleproductsProduct(p)" class=" ">-->
<!--                Accounts-->
<!--              </button>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--  <ng-template #failureOrLoading>-->
<!--    <ng-container *ngIf="errorMessage; else loading">-->
<!--      <div class="">-->
<!--        {{errorMessage}}-->
<!--      </div>-->
<!--    </ng-container>-->
<!--    <ng-template #loading>-->
<!--      Loading .....-->
<!--    </ng-template>-->
<!--  </ng-template>-->
<!--</div>-->



